<% provide(:title, 'Arranging') %>
<h1 align="center">A Cappella Arranging</h1>
<br>
<h2>Custom Arrangments</h2>
<br>
<p class="spaced">I love working with singers to create an arrangement that fits their vision and my goal of always being "epic". Here is how it works:</p>
<br>
<ol>
<li>Once you <%= link_to "get in touch", contact_path %> with me, I'll ask for information from you about your group in addition to any ideas you want to incorporate - ideally we will chat on the phone but a detailed email is fine too. Curious about my previous work? Listen to the samples in the Arrangements Library below.</li>
<br>
<li>I'll create the best arrangement I can for you, based on the info you give me. I guarantee delivery of a custom arrangement within two weeks of commission, but depending on my schedule, can get it done as soon as 2-3 days. If you'd like, I can share drafts with you along the way, so you can provide feedback as I develop the arrangement.</li>
<br>
<li>Once the arrangement is done, try it out with your group for a few weeks. If some part isn't gelling with your group, describe the issue(s) to me and we'll work together to revise the arrangement so that we are both satisfied.</li>
<br>
<li>Custom arrangements cost just <font color="#DD6000">$80</font>. Why so low? I need to build my street cred before I can raise prices - if you love my work, please leave a review or recommend me to a friend. I'm not in this for the money (I charge $80/hour at my regular job) - I just love working on anything a cappella.</li>
</ol>
<br>
<br>
<h2>Arrangement Editing</h2>
<br>
<p class="spaced">Want to try it yourself, but have someone look over your shoulder? Send me drafts of your arrangement and I will provide feedback on anything I think could be improved - gaps in music theory knowledge, missed opportunities for epic moments, increasing or decreasing complexity of the parts, etc. This costs just <font color="#DD6000">$10/hour</font>. Usually a first pass takes 1-2 hours of work. All following passes take about 30 minutes, depdending on the amount of change in the content.</p>
<br>
<p>Have a quick question? Or just need some advice? Post on the <%= link_to "Arrangement - Learning Forum", '#' %> and I or another user will help you out!</p>
<br>
<br>
<h2>Arrangments Library</h2>
<br>
<p class="spaced" align="left">Arrangements in this library are just <font color="#DD6000">$20</font>! We'll send you a score pdf and mp3s of individual parts as well as the full arrangement. If you are interested, just <%= link_to "get in touch", contact_path %>.</p>
<br>

<h3>Co-Ed</h3>
<table border="1" cellpadding="20">
  <tr>
    <th>Title</th>
    <th>Solo(s)</th>
    <th>Parts</th>
    <th>Level</th>
    <th>View</th>
    <th width="100">Listen</th>
  </tr>
  <tr>
    <td>I Can't Make You Love Me</td>
    <td></td>
    <td>Alto/Tenor</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>I Will Follow You Into the Dark</td>
    <td>Baritone</td>
    <td>SATBB</td>
    <td>Average</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Just Keep Breathing</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Little Wonders</td>
    <td>SSATB</td>
    <td>Baritone</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Madness</td>
    <td>Alto and Tenor</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>My Songs Know What You Did in the Dark</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Skyfall</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<br>
<h3>All-Female</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Parts</th>
    <th>Level</th>
    <th>View/Listen</th>
  </tr>  
  <tr>
    <td>A Thousand Years</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Higher Ground</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Settle Down</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Sweet Nothing</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</table>
<br>
