<% provide(:title, 'Blog') %>
<h1 align="center">A Cappella Musings</h1>
<br>
<br>
<h3>September 14th, 2013</h3>
<p>Premiere wants to do a cover of Radioactive (Premiere is my new, all-female powerhouse group in LA). Even as an experienced arranger, I find this task daunting - how do you take a song that is already so epic, and not only arrange it for just voices, but make it even more amazing? I have heard so many arrangements of this song that just fell short, even from some awesome groups that I really respect. Why was this the case? And how can I avoid this with my arrangement?</p>
<br>
<p>Well, for Radioactive in particular, the best moments in the song are in the chorus, when the lead sings "radioactive, radioactive." My friend Geoff told me that it sounds so thick because of studio effects - even the most powerful singer can't live up to the recorded version, at least, not singing lead on their own. Pentatonix did a great job working around this by harmonizing the high point - three singers, and three notes, is better than one at this moment.</p>
<br>
<p>But to my actual point - how to make an already epic song in to your own epic version - you have to change it:
<br><ol>
<li>Do something unexpected, but that fits with the song and trademarks your style of arranging.</li>
<li>Start simpler and sparser, then crescendo (literally and figuratively) to the climax. That was how I planned my arrangement of Madness by Muse, and I love how it turned out.
<li>Finally, make it bigger and better than the original, especially at the climax of the song. A trio harmony (or even an entire group in homophony) is a fantastic technique that PTX used to great effect in Radioactive.</li>
</ol></p>
<br><p>Have thoughts or questions about today's post? Send a message to epicacappella@gmail.com and we will post your ideas or answers to your questions.</p>
