<% provide(:title, 'Contact') %>

<h1 align="center">Get in Touch</h1>
<br>
<p>Have questions about contemporary a cappella? If it's not already answered on our forums or informational pages, send us an email (epicacappella@gmail.com) and we'll answer your question or post it online so the a cappella communnity can help answer. We read every email. </p>
<br><br>
<h1 align="center">About Epic</h1>
<br>
<p>Jessica Rucker founded Epic in 2013 with a goal of being a resource for new and old a cappella groups alike - a place to bring the community together.</p>
<br>
<p>Up until now there has been a lack of collaboration on how to direct and arrange a cappella music. When I have a mathematical, programming, or even a music theory question, I can just google it, but that's not possible for a cappella yet. You can buy books or attend masterclasses at CASA festivals, but what we need is an online, collab source for the aca-future. Help me achieve my goal - submit your question or ideas today! - Jessie</p>

