<% provide(:title, 'Directing') %>
<h1 align="center">A Cappella - Directing Forum</h1>
<br>
<p class="spaced">We're still setting up this part of the site! If you have a question or tid-bit of advice about directing, please email epicacappella@gmail.com, and we'll post it once we're up and running!</p>
