
<h1 align="center">ep&#183ic - heroic; majestic; impressively great</h1>
<br>
<h2 align="center">Our generation is all too familiar with hyperbole, however, we all understand that when a cappella music is great, there is no other word for it but "epic".</h2>

<br>
<h3>September 12th, 2013</h3>
<p class="spaced"><i>Epic</i> is a new a cappella studio servicing Los Angeles and the internet! We provide custom a cappella arrangements for all-female and co-ed groups of any age. Take advantage of our <font color="#DD6000">low prices</font> while we build a customer base!

<br><br>We also want to create an online resource for a cappella music directors by providing a place for the community to post questions, offer wisdom, and have in-depth discussions. Have ideas or questions to submit? Send us an email! epicacappella@gmail.com

<br><br>What's new? We're currently setting up a brand new a cappella recording and editing studio in West Los Angeles for groups on a budget. Check back for details...</p>
