
<h1>ep&#183ic - heroic; majestic; impressively great</h1>
<br>
<p>Perhaps we are too familiar with hyperbole to realize how truly amazing something needs to be to be epic... but when a cappella is great, I have no other word for it but epic.</p>
