<% provide(:title, 'Studio') %>
<h1 align="center">Recording and Editing Studio</h1>
<br>
<h2 align="center">We're still in the set-up stages of the studio - stay tuned for first recording availability in November 2013.</h2>
<br>
<br>
<h2>Recording</h2>
<br>
<p class="spaced">Starting in November, track-by-track recording rates are just $20/hour while we build our reputation. Take advantage of this deal while it lasts!</p>
<br>
<h3>Studio Equipment:</h3>
<br>
<ul list-style="disc">
  <li>Rode NT1-a</li>
  <li>Focusrite Scarlet 2i2</li>
  <li>Protools 11</li>
  <li>Sennheiser 280 and 380</li>
<br>
<br>
<h2>Editing</h2>
<br>
<p class="spaced">Once you are done recording, it's time to clean up the tracks: tune all your notes, put everything perfectly in rhythm, and finalize the raw material for the song. Editing rates are just $100/song - what a deal! Editing availability at Epic will start in January 2014.</p>
<br>
<br>
<h2>Recording/Editing FAQ</h2>
<br>
<p class="spaced">Making an a cappella record is much more complicated than it seems! Here are the most common questions that get asked. Have other questions? Send an email to epicacappella@gmail.com.</p>
<br>
<ol>
  <li>What are the steps to producing an a cappella record?
  <br>A: First, the obvious: choose your songs, perfect your arrangements, and learn your parts. Then it's time to record each part for every song, edit every track, mix every song, and master the album. Finally, make sure you have the rights to sell your album - go through a company like A Cappella Records to get physics CDs made and release your album online.
  </li>
  <br>
  <li>What's the difference between editing, mixing, and mastering?
  <br>A: Editing fixes all the technical issues in every track that gets recorded and results in a compiled song - it should sound perfect (yet raw) except for volume levels.
  <br>Mixing adjusts the EQ of all the tracks so the vocals (and  percussion) sound balanced, and the right parts are brought in front of the background tracks.
  <br>Mastering is like magic - it makes a cappella songs sound like mainstream music and balances the entire album so it sounds consistent.
  </li>
  <br>
  <li>Epic only does recording and editing, right? So where can I get my tracks mixed and mastered?
  <br>A: We have a few recommendations for you. A cappella mixing and mastering is a niche field, so make sure you stick within the community for the best results.
  </li>
  <br>
  <li>When all is said and done, about how much does this all cost?
  <br>A: Using some rough estimations: Typical a cappella studios charge $40-80/hr to record (usually 2-4+ hours/song), $150 to edit a song, $250 to mix a song, and $300 to master an album. So before you pay for rights and production, a 10-track album might cost in the ballpark of $6000. But you can pay a lot more for top a cappella engineers, or pay a lot less if you find a package deal or a new studio that is providing a discount.
  </li>
  <br><br>
</ol>
