/*FONTS*/
@font-face {
    font-family: 'Broadway';
    src: url('BroadwayFontKit/broadway-webfont.eot');
    src: url('BroadwayFontKit/broadway-webfont.eot?#iefix') format('embedded-opentype'),
         url('BroadwayFontKit/broadway-webfont.woff') format('woff'),
         url('BroadwayFontKit/broadway-webfont.ttf') format('truetype'),
         url('BroadwayFontKit/broadway-webfont.svg#broadway') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*universal*/
@import "bootstrap";

html { overflow-y: scroll; }
section { overflow: auto; }
textarea {  resize: vertical; }
.center { text-align: center; }
.center h1 { margin-bottom: 10px; }
$myOrange: #FF8000;
p { line-height: 20px; }

ol { list-style-position: inside; list-style-type: decimal; }
ol li { line-height: 1.2; }

table td, table th { padding:10px; }

h1 { line-height: normal; font-family: Georgia; font-size: 2em; margin: .67em 0 }
h2 { line-height: normal; font-family: Georgia; font-size: 1.5em; margin: .75em 0 }
h3 { line-height: normal; font-family: Georgia; font-size: 1.17em; margin: .83em 0 }


/*TOP FLOATING NAVIGATION PANEL*/

#header {
position:fixed; top:0; left:0; width: 100%;
color: #aaaaaa; padding-top: 20px; padding-bottom: 20px; padding-left:0px; margin-left:0px; min-width: 1180px;

/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;

/*Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8); color: rgba(1, 1, 1, 0.8);
}

#navigation a { font-size:20px; padding-top: 10px; padding-left:10px; padding-right:10px; color:white; text-decoration:none; align: right; font-family: Broadway; }

#navigation a:hover { color: $myOrange; width:100%; } 

#logo {
  font-family: Broadway;
  float: left;
  margin-left: 10px;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $myOrange; 
}

#logo a:link { color: $myOrange; }
#logo a:visited { color: $myOrange; }
#logo a:hover { color: $myOrange; }
#logo a:active { color: $myOrange; }


/*BODY ARCHITECTURE*/
body {
  margin-top: 150px;
  min-width:760px;
  background-image: url(metal021.jpg);
  
  /*
  background-image: url(mountain.jpg);
  background-repeat: no-repeat;
  background-position: 0px 65px;
  background-attachment: fixed;
 */
  
}



#main {  
  padding-top: 40px;
  padding-right: 75px; padding-left: 75px;
  position: float;
  width: 850px; min-height: 1000px;
  background-color: white; opacity:0.9;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(0);//I guessed 0 for parameter
}

input { height: auto !important; }


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/*DEBUG BOX */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing(0);//I guessed 0 for parameter
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
